In [ ]:
#Laiba Mazhar
#i221855
#DS-D
#laibamazhar.000@gmail.com
#Assignment 4
#Question 1
"""
import numpy as np
import pandas as pd


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

#Warnings ignored
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)


# LOADING CSV TO A DATA FRAME!!!


df = pd.read_csv('Q1_property.csv', delimiter=';', on_bad_lines='skip')


# DISPLAYING ORIGINAL DATA FRAME!!!


print("\n\n----------------------------------------------------------------DATA PRE-PROCESSING-------------------------------------------------------\n")



print(" -------------------------ORIGINAL DATAFRAME-------------------------------- ")

print(df.head())



# EXTRACTING COLUMN NAMES FROM FIRST ROW!!!



columns = ["property_id", "location_id", "page_url", "property_type", "price", "location",
                 "city", "province_name", "latitude", "longitude", "baths", "area",
                 "purpose", "bedrooms", "date_added", "agency", "agent"]



# COLUMN NAMES TO DATA FRAME!!



df.columns = columns



# DISPLAY THE UPDATED COLUMN NAMES' DATA FRAME!!!



print("\nDataFrame with Column Names:")



print(df.head())




# CONVERTING TO ANOTHER CREATED CSV FILE TO PROCESS FURTHER!!!



df.to_csv('Q1_property_processed.csv', index=False)



# CHECKING THE NEW DATAFRAME!!!




print(" ----------------DATAFRAME ---> Q1_property_processed.csv-------------")




# READING NEW CSV



new_df = pd.read_csv('Q1_property_processed.csv')




print("-------------------------- DataFrame After Saving-------------------")


print("\n\n")



# DISPLAYING NEW DATAFRAME!!



print(new_df.head())



# summing up null values


missing_values = new_df.isnull().sum()

# PRINTING MISSING VALUES !!



print(missing_values)



print("\n-------------------- AFTER DROPPING --------------------------!!\n")



new_df.dropna(inplace=True)



# DSIPLAYING AFTER DROPING THE MISSING VALUES



print(new_df.head())



#df.fillna(df.mean(), inplace=True)



############################################################################



# A FUNCTION TO FIND AND NORMALIZE OUTLIERS


#Functions to handle outliers
def handle_outliers(df, numerical_variables):


    for column_name in numerical_variables:

        print(f"\n\nChecking for outliers in column: {column_name}\n")


        column_values = df[column_name].tolist()


        Q1 = np.percentile(column_values, 25)


        Q3 = np.percentile(column_values, 75)


        IQR = Q3 - Q1


        lower_bound = Q1 - 1.5 * IQR


        upper_bound = Q3 + 1.5 * IQR


        df = df[~((df[column_name] < lower_bound) | (df[column_name] > upper_bound))]



        outliers = [value for value in column_values if (value < lower_bound) or (value > upper_bound)]



        #print(f"The potential outliers in {column_name} are: {outliers}")


        if not outliers:


            print(f"\nNo outliers found in {column_name}\n\n")


    return df



# FUNCTION CALLING


new_df = handle_outliers(new_df, ["property_id", "location_id", "price", "latitude", "longitude", "baths", "bedrooms"])



print("\n\n-------------------------------------------------------------PERFORMING EDA-------------------------------------------------------\n")



numerical_variables = ["price", "latitude", "longitude", "baths", "bedrooms"]



correlation_in_dataset = pd.DataFrame(index=numerical_variables, columns=['MaxCorrelatedColumn', 'MaxCorrelationValue'])



for selected_column in numerical_variables:



    finding_correlations = new_df.corr()[selected_column]





    correlations_without_selected = finding_correlations.drop(selected_column)



    max_corr_column = correlations_without_selected.idxmax()



    max_corr_value = finding_correlations.drop(selected_column).max()



    correlation_in_dataset.loc[selected_column, 'MaxCorrelatedColumn'] = max_corr_column



    correlation_in_dataset.loc[selected_column, 'MaxCorrelationValue'] = max_corr_value



print("\n\n---------------------OVERALL CORRELATION FOUND---------------------\n\n")


print(correlation_in_dataset)



high_correlations = correlation_in_dataset[correlation_in_dataset['MaxCorrelationValue'] > 0.7]



low_correlations = correlation_in_dataset[correlation_in_dataset['MaxCorrelationValue'] < -0.7]


print("\n\n")
print("High Correlations : ")


print(high_correlations)


print("\n\n")


print("Low Correlations:")


print(low_correlations)


###########################################################################################################



average_of_property_prices = new_df['price'].mean()



print("Average Property Price:", average_of_property_prices)



print("\n")

column_name = 'agent'


value_counts = new_df[column_name].value_counts()



print(f"The count of each unique value in the column '{column_name}' is:")


print(value_counts)



# Create a DataFrame with 'agent' count and average property price
df_stats = pd.DataFrame({'AgentCount': value_counts, 'AveragePrice': average_of_property_prices})



# Calculate the correlation between 'AgentCount' and 'AveragePrice'
correlation_stats = df_stats['AgentCount'].corr(df_stats['AveragePrice'])



print("\nCorrelation between Agent Count and Average Property Price:")



print(correlation_stats)


print("\n\n")



print("\n\n------------------------------------------------------- FUTURE ENGINEERING -------------------------------------------------------\n")
new_df['area_numeric'] = new_df['area'].str.extract('(\d+)')



new_df['area_numeric'] = pd.to_numeric(new_df['area_numeric'])



new_df['price_per_sqm'] = new_df['price'] / new_df['area_numeric']


new_df = new_df.drop('area_numeric', axis=1)


print("Updated DataFrame with 'price_per_sqm' column:")


print(new_df.head())

#######################################################################

# Replace 'date_added' with your actual date column name


# Convert the 'date_added' column to datetime format



new_df['date_added'] = pd.to_datetime(new_df['date_added'])


# Derive additional temporal features
new_df['month_added'] = new_df['date_added'].dt.month


new_df['quarter_added'] = new_df['date_added'].dt.quarter


new_df['day_of_week_added'] = new_df['date_added'].dt.dayofweek  # Monday is 0 and Sunday is 6


# Display the updated DataFrame

print("-------------------UPDATED DATA FRAME!!--------------------\n")


print("----------------ADDITIONAL TEMPORAL FEATURES---------------\n")



print(new_df.head())

##############################################################################



print("\n\n")


print("------------------ STANDARDISE NUMERICAL VARIABLES WITHIN DATA SET !!-----------------")
print("\n\n")



# IN ORDER TO STANDARDIZE THE DATASET, WE HAVE TO
# FIND THE NUMERICAL VARIABLES' COLUMNS
# SO I MADE THEM SEPARATE!



numerical_variables = ["price", "latitude", "longitude", "baths", "bedrooms"]

# LOOP TO STANDARDISE EACH NUMERICAL COLUMN

for col in numerical_variables:

    mean_val = new_df[col].mean()


    std_val = new_df[col].std()


    new_df[col] = (new_df[col] - mean_val) / std_val  # FORMULA APPLIED!

    # PRINTING UPDATED DATASTE!!

print(new_df.head())

###############################################################

print("\n\n")

print("--------------ENCODING CATEGORICAL VARIABLES  WITHIN DATA SET !!---------------")

print("\n\n")



categorical_variables=["page_url","property_type","location","city","province_name","area","purpose","date_added","agency","agent"]

label_mapping = {}

for col in categorical_variables:

    unique_values = new_df[col].unique()



    label_mapping[col] = {value: index for index, value in enumerate(unique_values)}



    new_df[col + '_encoded'] = new_df[col].map(label_mapping[col])



new_df.drop(categorical_variables, axis=1, inplace=True)

print(new_df)



##########################################################################
# Regression in Python (using scikit-learn)
# 6. Model Training



print("\n\n------------------------------------------------------------- MODEL TRAINING ------------------------------------------------------\n")

# SPLITTING  DATA INT    X
# 20 AND 80 RATIO
# MY TARGET VARIABLE IS   Y



X = new_df.drop('price', axis=1)


# 'price' is target variable
y = new_df['price']



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


                                                      # STEP 1:
                                                      #        REPLACE MISSING AND INFINTE VALUES

X_train.replace([np.inf, -np.inf], np.nan, inplace=True)




y_train.replace([np.inf, -np.inf], np.nan, inplace=True)



# Replacing with mean!!

X_train.fillna(X_train.mean(), inplace=True)



y_train.fillna(y_train.mean(), inplace=True)
                                                       # Step 2:
                                                       #         BUIDLING LINEAR REGRESSION MODEL


my_model = LinearRegression(fit_intercept=True)



                                                       # Step 3:
                                                       #          Fit the Model with Preprocessed Data


my_model.fit(X_train, y_train)


                                                       # Step 4:
                                                       #          Evaluate the Model on Training Set



Training_Set_Goodness_of_fit = my_model.score(X_train, y_train)




print("----------------- COEFFICIENT OF DETERMINATION (R2) ------------------")

print("\n")


print(Training_Set_Goodness_of_fit)

print("\n")
                                                       # Step 5:
                                                       #          Display Model Parameters


print("----------------------------- INTERCEPT (bo) -------------------------")
print("\n")


print(my_model.intercept_)


print("------------------- COEFFICIENTS (b1,b2,b3 and so on) ------------------------")

print("\n")
print(my_model.coef_)

                                                        # Step 6:
                                                        #  Apply the Model for Predictions on Test Set

print("\n")

X_test.replace([np.inf, -np.inf], np.nan, inplace=True)




X_test.fillna(X_test.mean(), inplace=True)



y_pred = my_model.predict(X_test)

                                                       # Step 7:
                                                       #  Model Evaluation

print("\n\n------------------------------------------------------------ MODEL EVALUATION ------------------------------------------------------\n")

print("\n\n")

print("\n\n---------------------- MEAN ABSOLUTE ERROR -----------------------!!")

print("\n\n")



Mean_abs_error = mean_absolute_error(y_test, y_pred)



print(Mean_abs_error)



print("\n\n-------------------- MEAN SQUARED ERROR --------------------------!!")

print("\n\n")



Mean_sqr_error= mean_squared_error(y_test, y_pred)



print(Mean_sqr_error)

print("\n\n------------------ ROOT MEAN SQUARED ERROR -----------------------!!")



print("\n\n")



root_mean_sqr_error = np.sqrt(Mean_sqr_error)

print(root_mean_sqr_error)

print("\n\n--------------- MEAN ABSOLUTE PERCENTAGE ERROR -------------------!!")



print("\n\n")



Mean_abs_per_error = mean_absolute_percentage_error(y_test, y_pred)

print(Mean_abs_per_error)

----------------------------------------------------------------DATA PRE-PROCESSING-------------------------------------------------------

 -------------------------ORIGINAL DATAFRAME--------------------------------
   property_id  location_id  \
0       347795            8
1       482892           48
2       555962           75
3       562843         3821
4       686990         3522

                                            page_url property_type      price  \
0  https://www.zameen.com/Property/lahore_model_t...         House  220000000
1  https://www.zameen.com/Property/lahore_multan_...         House   40000000
2  https://www.zameen.com/Property/eden_eden_aven...         House    9500000
3  https://www.zameen.com/Property/gulberg_2_gulb...         House  125000000
4  https://www.zameen.com/Property/allama_iqbal_t...         House   21000000

            location    city province_name   latitude  longitude  baths  \
0         Model Town  Lahore        Punjab  31.483869  74.325686    0.0
1        Multan Road  Lahore        Punjab  31.431593  74.179980    5.0
2               Eden  Lahore        Punjab  31.499348  74.416959    0.0
3            Gulberg  Lahore        Punjab  31.522069  74.355512    7.0
4  Allama Iqbal Town  Lahore        Punjab  31.506483  74.286017    5.0

       area   purpose  bedrooms  date_added                  agency  \
0   6 Kanal  For Sale       0.0  07-17-2019  Real Biz International
1   1 Kanal  For Sale       5.0  10-06-2018             Khan Estate
2   9 Marla  For Sale       3.0  07-03-2019         Shahum Estate 2
3   1 Kanal  For Sale       8.0  04-04-2019                     NaN
4  11 Marla  For Sale       6.0  04-04-2019                     NaN

                     agent
0               Usama Khan
1         mohsinkhan and B
2  Babar Hameed, Raja Omar
3                      NaN
4                      NaN

DataFrame with Column Names:
   property_id  location_id  \
0       347795            8
1       482892           48
2       555962           75
3       562843         3821
4       686990         3522

                                            page_url property_type      price  \
0  https://www.zameen.com/Property/lahore_model_t...         House  220000000
1  https://www.zameen.com/Property/lahore_multan_...         House   40000000
2  https://www.zameen.com/Property/eden_eden_aven...         House    9500000
3  https://www.zameen.com/Property/gulberg_2_gulb...         House  125000000
4  https://www.zameen.com/Property/allama_iqbal_t...         House   21000000

            location    city province_name   latitude  longitude  baths  \
0         Model Town  Lahore        Punjab  31.483869  74.325686    0.0
1        Multan Road  Lahore        Punjab  31.431593  74.179980    5.0
2               Eden  Lahore        Punjab  31.499348  74.416959    0.0
3            Gulberg  Lahore        Punjab  31.522069  74.355512    7.0
4  Allama Iqbal Town  Lahore        Punjab  31.506483  74.286017    5.0

       area   purpose  bedrooms  date_added                  agency  \
0   6 Kanal  For Sale       0.0  07-17-2019  Real Biz International
1   1 Kanal  For Sale       5.0  10-06-2018             Khan Estate
2   9 Marla  For Sale       3.0  07-03-2019         Shahum Estate 2
3   1 Kanal  For Sale       8.0  04-04-2019                     NaN
4  11 Marla  For Sale       6.0  04-04-2019                     NaN

                     agent
0               Usama Khan
1         mohsinkhan and B
2  Babar Hameed, Raja Omar
3                      NaN
4                      NaN
 ----------------DATAFRAME ---> Q1_property_processed.csv-------------
-------------------------- DataFrame After Saving-------------------



   property_id  location_id  \
0       347795            8
1       482892           48
2       555962           75
3       562843         3821
4       686990         3522

                                            page_url property_type      price  \
0  https://www.zameen.com/Property/lahore_model_t...         House  220000000
1  https://www.zameen.com/Property/lahore_multan_...         House   40000000
2  https://www.zameen.com/Property/eden_eden_aven...         House    9500000
3  https://www.zameen.com/Property/gulberg_2_gulb...         House  125000000
4  https://www.zameen.com/Property/allama_iqbal_t...         House   21000000

            location    city province_name   latitude  longitude  baths  \
0         Model Town  Lahore        Punjab  31.483869  74.325686    0.0
1        Multan Road  Lahore        Punjab  31.431593  74.179980    5.0
2               Eden  Lahore        Punjab  31.499348  74.416959    0.0
3            Gulberg  Lahore        Punjab  31.522069  74.355512    7.0
4  Allama Iqbal Town  Lahore        Punjab  31.506483  74.286017    5.0

       area   purpose  bedrooms  date_added                  agency  \
0   6 Kanal  For Sale       0.0  07-17-2019  Real Biz International
1   1 Kanal  For Sale       5.0  10-06-2018             Khan Estate
2   9 Marla  For Sale       3.0  07-03-2019         Shahum Estate 2
3   1 Kanal  For Sale       8.0  04-04-2019                     NaN
4  11 Marla  For Sale       6.0  04-04-2019                     NaN

                     agent
0               Usama Khan
1         mohsinkhan and B
2  Babar Hameed, Raja Omar
3                      NaN
4                      NaN
property_id         0
location_id         0
page_url            0
property_type       0
price               0
location            0
city                0
province_name       0
latitude            0
longitude           0
baths               1
area                1
purpose             1
bedrooms            1
date_added          1
agency           5642
agent            5642
dtype: int64

-------------------- AFTER DROPPING --------------------------!!

   property_id  location_id  \
0       347795            8
1       482892           48
2       555962           75
5       785289         3102
7       983065         3749

                                            page_url property_type      price  \
0  https://www.zameen.com/Property/lahore_model_t...         House  220000000
1  https://www.zameen.com/Property/lahore_multan_...         House   40000000
2  https://www.zameen.com/Property/eden_eden_aven...         House    9500000
5  https://www.zameen.com/Property/gulberg_paf_fa...         House   52000000
7  https://www.zameen.com/Property/eme_society_em...         House   32500000

      location    city province_name   latitude  longitude  baths     area  \
0   Model Town  Lahore        Punjab  31.483869  74.325686    0.0  6 Kanal
1  Multan Road  Lahore        Punjab  31.431593  74.179980    5.0  1 Kanal
2         Eden  Lahore        Punjab  31.499348  74.416959    0.0  9 Marla
5      Gulberg  Lahore        Punjab  31.495909  74.350569    6.0  1 Kanal
7  EME Society  Lahore        Punjab  31.439978  74.209685    0.0  1 Kanal

    purpose  bedrooms  date_added                     agency  \
0  For Sale       0.0  07-17-2019     Real Biz International
1  For Sale       5.0  10-06-2018                Khan Estate
2  For Sale       3.0  07-03-2019            Shahum Estate 2
5  For Sale       5.0  06-02-2019              MATZ Services
7  For Sale       5.0  07-03-2019  Sukhera Estate & Builders

                             agent
0                       Usama Khan
1                 mohsinkhan and B
2          Babar Hameed, Raja Omar
5  Group Captain (R) Tajammul Baig
7             Ahmed Sheraz Sukhera


Checking for outliers in column: property_id



Checking for outliers in column: location_id


No outliers found in location_id




Checking for outliers in column: price



Checking for outliers in column: latitude


No outliers found in latitude




Checking for outliers in column: longitude


No outliers found in longitude




Checking for outliers in column: baths


No outliers found in baths




Checking for outliers in column: bedrooms



-------------------------------------------------------------PERFORMING EDA-------------------------------------------------------



---------------------OVERALL CORRELATION FOUND---------------------


          MaxCorrelatedColumn MaxCorrelationValue
price                bedrooms            0.402786
latitude            longitude            0.895656
longitude            latitude            0.895656
baths                bedrooms            0.827552
bedrooms                baths            0.827552



High Correlations :
          MaxCorrelatedColumn MaxCorrelationValue
latitude            longitude            0.895656
longitude            latitude            0.895656
baths                bedrooms            0.827552
bedrooms                baths            0.827552



Low Correlations:
Empty DataFrame
Columns: [MaxCorrelatedColumn, MaxCorrelationValue]
Index: []
Average Property Price: 19731488.69475848


The count of each unique value in the column 'agent' is:
Khalid Saeed Khan                    74
Muhammad Nasir                       61
Zaka Ud Din Kamal                    55
Azmat Ullah Qureshi                  44
Major Mehboob Retired                34
                                     ..
Gohar Malik                           1
Nabeel Khalid Muhammad Bin Shahid     1
Mr Imtiaz Khalil                      1
Abdullah Masood                       1
Hamza Chaudary                        1
Name: agent, Length: 509, dtype: int64

Correlation between Agent Count and Average Property Price:
nan





------------------------------------------------------- FUTURE ENGINEERING -------------------------------------------------------

Updated DataFrame with 'price_per_sqm' column:
    property_id  location_id  \
19      2052081         9435
21      2283284          514
22      2311887         9432
24      2439750         9436
25      2439775         9433

                                             page_url property_type     price  \
19  https://www.zameen.com/Property/askari_10_aska...         House  27500000
21  https://www.zameen.com/Property/lahore_upper_m...         House  50000000
22  https://www.zameen.com/Property/askari_10_aska...         House  45000000
24  https://www.zameen.com/Property/askari_10_aska...         House  21200000
25  https://www.zameen.com/Property/askari_10_aska...         House  23000000

      location    city province_name   latitude  longitude  baths      area  \
19      Askari  Lahore        Punjab  31.533161  74.419481    5.0  12 Marla
21  Upper Mall  Lahore        Punjab  31.542114  74.355898    6.0   1 Kanal
22      Askari  Lahore        Punjab  31.537239  74.420211    6.0   1 Kanal
24      Askari  Lahore        Punjab  31.536068  74.408666    4.0  10 Marla
25      Askari  Lahore        Punjab  31.537458  74.413323    5.0  10 Marla

     purpose  bedrooms  date_added             agency              agent  \
19  For Sale       4.0  06-18-2019  Forces Properties  Khalid Saeed Khan
21  For Sale       5.0  07-03-2019  Hamza Real Estate       Imran Shahad
22  For Sale       5.0  06-18-2019  Forces Properties  Khalid Saeed Khan
24  For Sale       3.0  06-18-2019  Forces Properties  Khalid Saeed Khan
25  For Sale       4.0  06-18-2019  Forces Properties  Khalid Saeed Khan

    price_per_sqm
19   2.291667e+06
21   5.000000e+07
22   4.500000e+07
24   2.120000e+06
25   2.300000e+06
-------------------UPDATED DATA FRAME!!--------------------

----------------ADDITIONAL TEMPORAL FEATURES---------------

    property_id  location_id  \
19      2052081         9435
21      2283284          514
22      2311887         9432
24      2439750         9436
25      2439775         9433

                                             page_url property_type     price  \
19  https://www.zameen.com/Property/askari_10_aska...         House  27500000
21  https://www.zameen.com/Property/lahore_upper_m...         House  50000000
22  https://www.zameen.com/Property/askari_10_aska...         House  45000000
24  https://www.zameen.com/Property/askari_10_aska...         House  21200000
25  https://www.zameen.com/Property/askari_10_aska...         House  23000000

      location    city province_name   latitude  longitude  ...      area  \
19      Askari  Lahore        Punjab  31.533161  74.419481  ...  12 Marla
21  Upper Mall  Lahore        Punjab  31.542114  74.355898  ...   1 Kanal
22      Askari  Lahore        Punjab  31.537239  74.420211  ...   1 Kanal
24      Askari  Lahore        Punjab  31.536068  74.408666  ...  10 Marla
25      Askari  Lahore        Punjab  31.537458  74.413323  ...  10 Marla

     purpose bedrooms  date_added             agency              agent  \
19  For Sale      4.0  2019-06-18  Forces Properties  Khalid Saeed Khan
21  For Sale      5.0  2019-07-03  Hamza Real Estate       Imran Shahad
22  For Sale      5.0  2019-06-18  Forces Properties  Khalid Saeed Khan
24  For Sale      3.0  2019-06-18  Forces Properties  Khalid Saeed Khan
25  For Sale      4.0  2019-06-18  Forces Properties  Khalid Saeed Khan

   price_per_sqm  month_added  quarter_added  day_of_week_added
19  2.291667e+06            6              2                  1
21  5.000000e+07            7              3                  2
22  4.500000e+07            6              2                  1
24  2.120000e+06            6              2                  1
25  2.300000e+06            6              2                  1

[5 rows x 21 columns]



------------------ STANDARDISE NUMERICAL VARIABLES WITHIN DATA SET !!-----------------



    property_id  location_id  \
19      2052081         9435
21      2283284          514
22      2311887         9432
24      2439750         9436
25      2439775         9433

                                             page_url property_type     price  \
19  https://www.zameen.com/Property/askari_10_aska...         House  0.361011
21  https://www.zameen.com/Property/lahore_upper_m...         House  1.406611
22  https://www.zameen.com/Property/askari_10_aska...         House  1.174256
24  https://www.zameen.com/Property/askari_10_aska...         House  0.068243
25  https://www.zameen.com/Property/askari_10_aska...         House  0.151891

      location    city province_name  latitude  longitude  ...      area  \
19      Askari  Lahore        Punjab  0.281516   0.805366  ...  12 Marla
21  Upper Mall  Lahore        Punjab  0.284121   0.783768  ...   1 Kanal
22      Askari  Lahore        Punjab  0.282703   0.805614  ...   1 Kanal
24      Askari  Lahore        Punjab  0.282362   0.801692  ...  10 Marla
25      Askari  Lahore        Punjab  0.282766   0.803274  ...  10 Marla

     purpose  bedrooms  date_added             agency              agent  \
19  For Sale  0.247194  2019-06-18  Forces Properties  Khalid Saeed Khan
21  For Sale  0.898127  2019-07-03  Hamza Real Estate       Imran Shahad
22  For Sale  0.898127  2019-06-18  Forces Properties  Khalid Saeed Khan
24  For Sale -0.403739  2019-06-18  Forces Properties  Khalid Saeed Khan
25  For Sale  0.247194  2019-06-18  Forces Properties  Khalid Saeed Khan

   price_per_sqm  month_added  quarter_added  day_of_week_added
19  2.291667e+06            6              2                  1
21  5.000000e+07            7              3                  2
22  4.500000e+07            6              2                  1
24  2.120000e+06            6              2                  1
25  2.300000e+06            6              2                  1

[5 rows x 21 columns]



--------------ENCODING CATEGORICAL VARIABLES  WITHIN DATA SET !!---------------



      property_id  location_id     price  latitude  longitude     baths  \
19        2052081         9435  0.361011  0.281516   0.805366  0.526344
21        2283284          514  1.406611  0.284121   0.783768  1.006094
22        2311887         9432  1.174256  0.282703   0.805614  1.006094
24        2439750         9436  0.068243  0.282362   0.801692  0.046594
25        2439775         9433  0.151891  0.282766   0.803274  0.526344
...           ...          ...       ...       ...        ...       ...
7810     10393695          637 -0.289584  0.249431   0.743387 -1.872405
7811     10393699          427  1.546025  0.280247   0.796411 -1.872405
7812     10393701         9432  0.175127  0.282703   0.805614 -1.872405
7816     10396890         1447  0.551543  0.260956   0.801922  0.526344
7818     10397607         4190 -0.010758  0.256398   0.800357  0.526344

      bedrooms  price_per_sqm  month_added  quarter_added  ...  \
19    0.247194   2.291667e+06            6              2  ...
21    0.898127   5.000000e+07            7              3  ...
22    0.898127   4.500000e+07            6              2  ...
24   -0.403739   2.120000e+06            6              2  ...
25    0.247194   2.300000e+06            6              2  ...
...        ...            ...          ...            ...  ...
7810  0.247194   1.687500e+06            4              2  ...
7811  0.898127   3.312500e+06           10              4  ...
7812  0.898127   2.350000e+06           10              4  ...
7816  0.247194   3.160000e+06            6              2  ...
7818  0.247194   1.950000e+06            5              2  ...

      page_url_encoded  property_type_encoded  location_encoded  city_encoded  \
19                   0                      0                 0             0
21                   1                      0                 1             0
22                   2                      0                 0             0
24                   3                      0                 0             0
25                   4                      0                 0             0
...                ...                    ...               ...           ...
7810              1941                      0               168             0
7811              1942                      0                11             0
7812              1943                      0                 0             0
7816              1944                      0                 7             0
7818              1945                      0                23             0

      province_name_encoded  area_encoded  purpose_encoded  \
19                        0             0                0
21                        0             1                0
22                        0             1                0
24                        0             2                0
25                        0             2                0
...                     ...           ...              ...
7810                      0            16                0
7811                      0            53                0
7812                      0             2                0
7816                      0             2                0
7818                      0             2                0

      date_added_encoded  agency_encoded  agent_encoded
19                     0               0              0
21                     1               1              1
22                     0               0              0
24                     0               0              0
25                     0               0              0
...                  ...             ...            ...
7810                   2             219            491
7811                  96             219            491
7812                  96             219            491
7816                   0             215            196
7818                   4             215            274

[1946 rows x 21 columns]


------------------------------------------------------------- MODEL TRAINING ------------------------------------------------------

----------------- COEFFICIENT OF DETERMINATION (R2) ------------------


0.7584167408176712


----------------------------- INTERCEPT (bo) -------------------------


-0.5009323435470775
------------------- COEFFICIENTS (b1,b2,b3 and so on) ------------------------


[-7.12705090e-09  1.05964909e-06 -8.58346813e-01  7.79304334e-01
 -2.45055175e-02  1.46742207e-01  2.97485852e-08  6.29578635e-02

In [ ]:
#Laiba Mazhar
#i221855
#DS-D
#Assignment 4
#Question 2
#Libraries
"""
import pandas as pd


from sklearn.metrics import accuracy_score

from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import MinMaxScaler

from sklearn.tree import  DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

print(" -------------------------ORIGINAL DATAFRAME-------------------------------- ")


#Uploading file
new_df = pd.read_csv("Q2_Fraud_check.csv")



label_lib = preprocessing.LabelEncoder()



new_df['Undergrad'] = label_lib.fit_transform(new_df['Undergrad'])



new_df['Marital.Status'] = label_lib.fit_transform(new_df['Marital.Status'])




new_df['Urban'] = label_lib.fit_transform(new_df['Urban'])





risky_con = (new_df['Taxable.Income'] >= 10002) & (new_df['Taxable.Income'] <= 30000)




good_con = (new_df['Taxable.Income'] > 30000)




new_df['Tax_Income'] = np.where(risky_con, 'risky', np.where(good_con, 'good', None))




print(new_df)


print("\n\n")





X = new_df.drop(['Taxable.Income', 'Tax_Income'], axis = 1)


Y = new_df['Tax_Income']





X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)




classifier = DecisionTreeClassifier(random_state = 42)




classifier.fit(X_train, y_train)



predict_y = classifier.predict(X_test)


accu = accuracy_score(y_test, predict_y)



confu_mat = confusion_matrix(y_test, predict_y)



report1 = classification_report(y_test, predict_y)

#accuracy
print("\n\n")
print(" -----------------------------ACCURACY-------------------------------- ")
print(accu)


print("\n\n")



#confusion Matrix
print(" -----------------------CONFUSION MATRIX-------------------------------- ")
print(confu_mat)


print("\n\n")


#report
print(" --------------------CLASSIFICATION REPORT-------------------------------- ")
print("\n")



print("Classification Report: ", "\n", report1)
print("\n\n")




new_df = pd.get_dummies(new_df, columns = ['Undergrad', 'Marital.Status', 'Urban'])



print(" ------------------------AFTER ENCODING-------------------------------------- ")
print("\n")


print(new_df)


print("\n\n")


#encoding
new_df['Tax_Income'] = np.where(new_df['Taxable.Income'] <= 30000, 0, 1)


print(new_df)


print("\n\n")



Min_Lib = MinMaxScaler()

numerical_cols = ['Work.Experience', 'City.Population']



new_df[numerical_cols] = Min_Lib.fit_transform(new_df[numerical_cols])


print(new_df)


print("\n\n")

X = new_df.drop(['Taxable.Income', 'Tax_Income'], axis=1)



Y = new_df['Tax_Income']


X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)



dt_classifier = DecisionTreeClassifier(random_state=42)



dt_classifier.fit(X_train, y_train)




y_pred = dt_classifier.predict(X_test)




report = classification_report(y_test, y_pred)

print(" --------------------CLASSIFICATION REPORT-------------------------------- ")


print(report)

 -------------------------ORIGINAL DATAFRAME--------------------------------
     Undergrad  Marital.Status  Taxable.Income  City.Population  \
0            0               2           68833            50047
1            1               0           33700           134075
2            0               1           36925           160205
3            1               2           50190           193264
4            0               1           81002            27533
..         ...             ...             ...              ...
595          1               0           76340            39492
596          1               0           69967            55369
597          0               0           47334           154058
598          1               1           98592           180083
599          0               0           96519           158137

     Work.Experience  Urban Tax_Income
0                 10      1       good
1                 18      1       good
2                 30      1       good
3                 15      1       good
4                 28      0       good
..               ...    ...        ...
595                7      1       good
596                2      1       good
597                0      1       good
598               17      0       good
599               16      0       good

[600 rows x 7 columns]






 -----------------------------ACCURACY--------------------------------
0.6666666666666666



 -----------------------CONFUSION MATRIX--------------------------------
[[74 20]
 [20  6]]



 --------------------CLASSIFICATION REPORT--------------------------------


Classification Report:
               precision    recall  f1-score   support

        good       0.79      0.79      0.79        94
       risky       0.23      0.23      0.23        26

    accuracy                           0.67       120
   macro avg       0.51      0.51      0.51       120
weighted avg       0.67      0.67      0.67       120




 ------------------------AFTER ENCODING--------------------------------------


     Taxable.Income  City.Population  Work.Experience Tax_Income  Undergrad_0  \
0             68833            50047               10       good            1
1             33700           134075               18       good            0
2             36925           160205               30       good            1
3             50190           193264               15       good            0
4             81002            27533               28       good            1
..              ...              ...              ...        ...          ...
595           76340            39492                7       good            0
596           69967            55369                2       good            0
597           47334           154058                0       good            1
598           98592           180083               17       good            0
599           96519           158137               16       good            1

     Undergrad_1  Marital.Status_0  Marital.Status_1  Marital.Status_2  \
0              0                 0                 0                 1
1              1                 1                 0                 0
2              0                 0                 1                 0
3              1                 0                 0                 1
4              0                 0                 1                 0
..           ...               ...               ...               ...
595            1                 1                 0                 0
596            1                 1                 0                 0
597            0                 1                 0                 0
598            1                 0                 1                 0
599            0                 1                 0                 0

     Urban_0  Urban_1
0          0        1
1          0        1
2          0        1
3          0        1
4          1        0
..       ...      ...
595        0        1
596        0        1
597        0        1
598        1        0
599        1        0

[600 rows x 11 columns]



     Taxable.Income  City.Population  Work.Experience  Tax_Income  \
0             68833            50047               10           1
1             33700           134075               18           1
2             36925           160205               30           1
3             50190           193264               15           1
4             81002            27533               28           1
..              ...              ...              ...         ...
595           76340            39492                7           1
596           69967            55369                2           1
597           47334           154058                0           1
598           98592           180083               17           1
599           96519           158137               16           1

     Undergrad_0  Undergrad_1  Marital.Status_0  Marital.Status_1  \
0              1            0                 0                 0
1              0            1                 1                 0
2              1            0                 0                 1
3              0            1                 0                 0
4              1            0                 0                 1
..           ...          ...               ...               ...
595            0            1                 1                 0
596            0            1                 1                 0
597            1            0                 1                 0
598            0            1                 0                 1
599            1            0                 1                 0

     Marital.Status_2  Urban_0  Urban_1
0                   1        0        1
1                   0        0        1
2                   0        0        1
3                   1        0        1
4                   0        1        0
..                ...      ...      ...
595                 0        0        1
596                 0        0        1
597                 0        0        1
598                 0        1        0
599                 0        1        0

[600 rows x 11 columns]



     Taxable.Income  City.Population  Work.Experience  Tax_Income  \
0             68833         0.139472         0.333333           1
1             33700         0.622394         0.600000           1
2             36925         0.772568         1.000000           1
3             50190         0.962563         0.500000           1
4             81002         0.010081         0.933333           1
..              ...              ...              ...         ...
595           76340         0.078811         0.233333           1
596           69967         0.170058         0.066667           1
597           47334         0.737240         0.000000           1
598           98592         0.886810         0.566667           1
599           96519         0.760683         0.533333           1

     Undergrad_0  Undergrad_1  Marital.Status_0  Marital.Status_1  \
0              1            0                 0                 0
1              0            1                 1                 0
2              1            0                 0                 1
3              0            1                 0                 0
4              1            0                 0                 1
..           ...          ...               ...               ...
595            0            1                 1                 0
596            0            1                 1                 0
597            1            0                 1                 0
598            0            1                 0                 1
599            1            0                 1                 0

     Marital.Status_2  Urban_0  Urban_1
0                   1        0        1
1                   0        0        1
2                   0        0        1
3                   1        0        1
4                   0        1        0
..                ...      ...      ...
595                 0        0        1
596                 0        0        1
597                 0        0        1
598                 0        1        0
599                 0        1        0

[600 rows x 11 columns]



 --------------------CLASSIFICATION REPORT--------------------------------
              precision    recall  f1-score   support

           0       0.17      0.15      0.16        26
           1       0.77      0.80      0.79        94

    accuracy                           0.66       120
   macro avg       0.47      0.48      0.47       120
weighted avg       0.64      0.66      0.65       120